@import "reset";
@import "mixins";
@import "vars";
@import "icons";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


body {
  background-color: $BG_gray;
  font-family: $bodyFont;
  font-size: 1.4em;
}

h2 {
  color: #036699;
  font-style: underline;
  font-size: 30px;
}
.container {
  width: 100%;
  margin: 50px;
}

.loader_container {
  position: relative;
  width: 2px;
  height: 2px;
  top:50px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #EDF3F4;
  border-radius: 200px 200px 200px 200px;

  .wave_container {
    position: absolute;
    top: -120px;
  }

  // FISH
  .fish_container {
    position: relative;
    left: -10px;

    #loader_fish {
      position: absolute;
    }
  }

  // RIPPLE
  .ripple {
    // position: relative;
    // left: -3 0px;
    // top: 180px;
    display: none;
  }

  // WAVE
  .svg_wave {
    position: absolute;
    top: 260px;
  }
  #wave2 {
    left: 900px;
  }
}


